@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');

$width__mobile: 375px;
$width__desktop: 1440px;

$color__primary--linear-gradient-from: hsl(249, 99%, 64%);
$color__primary--linear-gradient-to: hsl(278, 94%, 30%);
$color__primary--red: hsl(0, 100%, 66%);

$color__neutral--white: hsl(0, 0%, 100%);
$color__neutral--light-grayish-violet: hsl(270, 3%, 87%);
$color__neutral--dark-grayish-violet: hsl(279, 6%, 55%);
$color__neutral--very-dark-violet: hsl(278, 68%, 11%);
$color__neutral--box-shadow: rgba(0, 0, 0, 0.25);

$typography__font-size: 18px;

$typography__font-family: "Space Grotesk", sans-serif;

$typography__font-weight--regular: 400;
$typography__font-weight--medium: 500;
$typography__font-weight--bold: 700;
$typography__font-weight--extrabold: 800;
$typography__font-weight--black: 900;

@mixin mobile {
  @media screen and (max-width: $width__mobile) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $width__mobile) {
    @content;
  }
}
